extends layout.pug 

block content 
    div.box
        h1.description  This note taking application has adding, deleting and editing functions for users 
        a.crt(href="/add") Add a note 
    

