extends layout.pug 

block content 
    div.box
        h1.description  This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
        a.crt(href="/add") Add a note 
    

